html {
    height: 120%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    
}

.main_body {
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main_h1 {
    font-size: clamp(16px, 2.5rem, 40px);
}

.container {
    text-align: center;
    border-radius: 15px;
    margin-top: 13vh;
}

h1 {
    font-family: 'Garamond Premiere Pro';
    font-weight: bold;
    font-style: normal;
}

.ShowDetails {
    background-color: rgb(255, 71, 73);
    border-radius: 10px;
    border: none;
    color: rgb(231, 231, 231);
}

    .ShowDetails:hover {
        background-color: rgb(255, 97, 100);
        color: rgb(233, 233, 233);
        transition: 0.1s;
    }

#classDetails {
    font-size: 4vh;
}

#classSelect {
    border: gray solid 1px;
    border-radius: 10px;
}


#ClassInfo {
    justify-content: left;
}

#topClasses {
    display: flex;
    justify-content: space-evenly;
}

    #topClasses div {
        margin-left: 10px;
        margin-right: 10px;
    }

#top_class_head, #top_class_text {
    font-family: 'Garamond Premiere Pro';
    font-style: normal;
}

    #top_class_head {
        font-weight: bold;
        font-size: clamp(12px, 2rem, 30px);
    }

    #top_class_text {
        font-weight: normal;
        font-size: clamp(10px, 1.2rem, 25px);
    }

.classExplanation_div {
    display: -webkit-box;
    width: 80%;
}

    .classExplanation_div .two {
        margin-left: auto;
    }


select, button, input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: gray solid 0.5px;
}

    .submit {
        background-color: rgb(107, 252, 107);
    }

    .submit:hover {
        background-color: rgb(143, 254, 143);
    }

    #classExplanation_main {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    /* #classExplanation_main p{
        width: 80%;
    } */

#classExplanation {
    display: none;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.Class_group {
    font-size: clamp(10px, 1.5rem, 24px);
}

footer {
    /* position: absolute; */
    display: flex;
    margin-top: auto;
    margin-bottom: 2vh;
    justify-content: space-around;
    /* bottom: min(1%, 5px); */
    width: 70%;
}

    footer a {
        color: black;
        text-decoration: none;
        font-size: clamp(10px, 2rem, 20px);
        white-space: nowrap;
    }

.fileSelect {
    display: flex;
    flex-direction: column;
}
    .fileSelect label{
        text-align: left;
    }

    #uploadForm button{
        border-radius: 10px;
        border: gray solid 0.5px;
        background-color: rgb(107, 252, 107);
        height: 100%;
        margin-top: 4vh;
    }

    #uploadForm button:hover{
        background-color: rgb(143, 254, 143);
    }

    .switch { position: relative; 
        display: inline-block; 
        width: 60px; height: 34px; } 
    .switch input { opacity: 0; width: 0; height: 0; } 
    .slider { position: absolute; 
        cursor: pointer; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background-color: #f47c1b; 
        transition: .4s; } 
    .slider:before { position: absolute; 
        content: ""; 
        height: 26px; 
        width: 26px; 
        left: 4px; 
        bottom: 4px; 
        background-color: white; 
        transition: .4s; } 
    input:checked + .slider { background-color: #2196F3; } 
    input:checked + .slider:before { transform: translateX(26px); } 
    .slider.round { border-radius: 34px; } .slider.round:before { border-radius: 50%; } 

.clear_bt {
    background-color: red;
    color: white;
}

@media (max-width: 800px) {
    .main_body {
        background-size: auto 100%;
        background-position: center center;
    }

    select, button, input {
        font-size: 14px;
        padding: 8px;
    }

    .Class_group {
        font-size: clamp(10px, 2rem, 24px);
    }
}
