<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panelis</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/logo.png" type="image/icon type">
    <script src="/static/admin.js" defer></script>
    <link rel="preload" href="/static/font/GaramondPremrPro-Bd.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
    <div class="container" id="admin-container">
        <h1>Pievienot klasi</h1>
        <form action="/addClass" method="POST">
            <input type="text" name="className" placeholder="Klases nosaukums">
            <input class="submit" type="submit" value="Pievienot"></input>
        </form>
        
        <h1>Punktu pievienošana</h1>
        <form action="/addPoints" method="post">
            <select id="existingClassSelect" name="existingClassSelect"></select>
            <input type="number" id="classPoints" name="classPoints" placeholder="Punkti">
            <select id="criteriaSelect" name="criteriaSelect" onchange="check_value()">
                <option value="cits" class="cits">Cits...</option>
                <option disabled selected>Izvelaties Kriteriju</option>
            </select>
            <input type="text" id="classExplanation" name="classExplanation" placeholder="Skaidrojums">
            <input class="submit" type="submit" value="Pievienot"></input>
        </form>

        <h1>Kriteriju pievienošana</h1>
        <form action="/addCriteria" method="post">
            <input type="text" id="criteriaUser" name="criteriaUser" placeholder="Kriterijas">
            <input class="submit" type="submit" value="Pievienot"></input>
        </form>

            <h1>Ielupladet PDF Failu</h1> 
            <form action="/upload_criteria" method="post" enctype="multipart/form-data" style="display: flex; justify-content: center;">
                <div class="fileSelect"> 
                    <label for="pdfFile" id="pdfLabel">Izvelaties kriteriju</label> 
                    <input type="file" id="pdfFile" name="pdf" accept="application/pdf" required> 
                    <label for="pdfFile_1" id="pdfLabel">Izvelaties dežures grafiku</label> 
                    <input type="file" id="pdfFile_1" name="pdf_1" accept="application/pdf" required> 
                </div> 
                <button type="submit">Ielupladet</button> 
            </form> 
            {% if message %} <p>{{ message }}</p> {% endif %}

            <form action="/clear_database" method="post">
                <button class="clear_bt">Atirit datu bazi</button>
            </form>
        

    </div>
</body>
</html>
