<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panelis</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/logo.png" type="image/icon type">
    <script src="/static/admin.js" defer></script>
</head>
<body>
    <div class="container" id="admin-container">
        <h1>Pievienot klasi</h1>
        <input type="text" id="className" placeholder="Klases nosaukums">
        <input type="submit" onclick="addClass()" value="Pievienot"></input>
        
        <h1>Punktu pievienošana</h1>
        <select id="existingClassSelect"></select>
        <input type="number" id="classPoints" placeholder="Punkti">
        <input type="text" id="classExplanation" placeholder="Skaidrojums">
        <input type="submit" onclick="addPoints()" value="Pievienot"></input>
    </div>
</body>
</html>
