<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logins</title>
    <link rel="icon" href="/static/logo.png" type="image/icon type">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preload" href="/static/font/GaramondPremrPro-Bd.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
    <div class="container" id="login-container">
        <h2>Ielogosana admin paneli</h2>
        <form action="/login_check" method="post" type="application/json">
            <input type="text" id="username" name="username" placeholder="Logins"><br><br>
            <input type="password" id="password" name="password" placeholder="Parole"><br>
            <p id="login_error">Logins vai parole nepareiza</p>
            <input class="submit" type="submit" placeholder="Login" value="Iiet sistema"></input>
        </form>
    </div>
</body>
</html>